aiohttp==3.6.2
aiohttp-apispec==2.2.0
alembic==1.2.1
gino==0.8.6
gunicorn==19.9.0
psycopg2-binary==2.8.3
sqlalchemy==1.3.8
sentry-sdk==0.14.1
sentry-asgi==0.2.0
python-json-logger==0.1.11
pytz==2019.3
